* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:host {
  .main-background {
    background-color: pink;
    width: 99vw;
    height: 96vh;
    display: flex;
    justify-content: center;
  }
  .first-question {
    display: flex;
    flex-direction: column;
    align-items: center;
    .first-question-img {
      width: 50%;
    }
    .first-question-content {
      display: flex;
      justify-content: center;
      margin-top: 80px;
      flex-direction: column;
      .button-group {
        display: flex;
        gap: 20px;
        justify-content: center;
        margin-top: 20px;
        .button-style-yes {
          padding: 10px 20px;
          border-radius: 25px;
          background-color: cyan;
          color: white;
          border-color: unset;
        }
        .button-style-no {
          padding: 10px 20px;
          border-radius: 25px;
          background-color: red;
          color: white;
          border-color: unset;
        }
      }
    }
  }

  ::ng-deep {
    .content-dialog {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px;
      .button-group-dialog {
        display: flex;
        gap: 10px;
        .button-style-yes-dialog {
          .p-button {
            background-color: red;
            border-color: red;
          }
        }
        .button-style-no-dialog {
          .p-button {
            background-color: pink;
            border-color: pink;
          }
        }
      }
    }
    .p-dialog .p-dialog-content {
      display: flex;
      justify-content: center;
    }
  }
}
