<div class="main-background">
  <ng-container>
    <div class="first-question">
      <img
        class="first-question-img"
        src="https://media.tenor.com/WXnY6vo7YX4AAAAi/peach-cat-heart-peach-cat-kiss.gif"
        alt=""
      />
      <div class="first-question-content">
        <span style="text-align: center">Do you love me?</span>
        <div class="button-group">
          <button class="button-style-yes" (click)="onClickButton('yes')">
            Yes
          </button>
          <button class="button-style-no" (click)="onClickButton('no')">
            No
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<p-confirmDialog key="click-no" #cd>
  <ng-template pTemplate="message" let-message>
    <div class="content-dialog">
      <img
        style="width: 45%"
        src="https://media1.tenor.com/m/GlsoY3_9SckAAAAd/angry-kitten-angry-kitty.gif"
        alt=""
      />
      <div class="button-group-dialog">
        <p-button
          class="button-style-yes-dialog"
          [rounded]="true"
          label="แน่ใจหร๊อออออออ!!!"
          (onClick)="cd.accept()"
        ></p-button>
        <p-button
          class="button-style-no-dialog"
          [rounded]="true"
          label="รักค้าบบบบบ"
          (onClick)="cd.reject()"
        ></p-button>
      </div>
    </div>
  </ng-template>
</p-confirmDialog>
<p-dialog
  header="i love u too kaab babeeeeeeee"
  [modal]="true"
  [(visible)]="valueOfQuestion"
>
  <img
    style="width: 45%"
    src="https://media1.tenor.com/m/rX0OO3PiG6oAAAAd/love-love-you.gif"
    alt=""
  />
</p-dialog>
